body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
  background: linear-gradient(
    to right,
    hsl(243, 85%, 11%) 50%,
    hsl(219, 34%, 82%) 60%
  );
}

.container {
  background-color: #ffffff;
  width: 100%;
  max-width: 400px;
  min-height: 60vh;
  padding: 30px 45px;
  border-radius: 20px;
  box-shadow: 0 15px 350px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

h1 {
  margin-bottom: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  text-align: center;
  color: hsl(218, 60%, 12%);
  text-shadow: 0 2px 3px hsl(218, 89%, 36%);
}

input {
  font-size: 20px;
  padding: 8px 12px;
  margin-right: 5px;
  margin-left: 15px;
  border: none;
  border-radius: 40px;
  box-shadow: 0 15px 80px rgba(0, 0, 0, 0.5);
}


::placeholder {
  color: #9ca3af;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background: linear-gradient(to right, hsl(244, 77%, 9%));
  justify-content: center;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  padding: 3px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: hsl(0, 0%, 87%);
}

button:hover {
  background: hsl(243, 78%, 18%);
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

#list-container {
  background: hsla(206, 6%, 75%, 0.47);
  padding: 12px;
  margin-top: 20px;
  min-height: 50vh;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 16px;
}
